.game-controls {
    display: flex;
    width: 100%;
}

.controls-left-section {
    flex: 0 0 20%;
    display: flex;
    justify-content: center; /* ממרכז את הכפתור אופקית */
    align-items: center; /* ממרכז את הכפתור אנכית */
}

.controls-center-section {
    flex: 0 0 60%; /* חלק אמצעי, 60% */
    display: flex;
    justify-content: center; /* למרכז את הכפתורים בתוך החלק */
    align-items: center; /* למרכז את הכפתורים במאונך */
}

.controls-right-section {
    flex: 0 0 20%; /* חלק ימני, 20% */
    display: center;
    justify-content: center; /* לוודא שהכפתור בצד שמאל */
}


button {
    margin-top: 0vw;
    padding: 1vw 2vw;
    font-size: 1vw;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}