.back-button, .save-button, .flip-button, .random-setup-button {
    padding: 1vw 2vw;
    font-size: 1.6vw;
    margin: 1vw;
    cursor: pointer;
}

.back-button {
    background-color: #af6600;
    color: #ffffff;
}

.back-button:hover {
    background-color: #c98d3a;
    color: #ffffff;
}

.save-button {
    background-color: #22819e;
    color: white;
}

.save-button:hover {
    background-color: #52b6d4;
    color: white;
}

