.searching-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed; /* נוודא שזה מוצג על המסך */
    top: 38vw;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8); /* רקע בהיר */
    padding: 2vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 0.6vw rgba(0, 0, 0, 0.1); /* צל להבלטה */
    z-index: 9999; /* ודא שהרכיב נמצא מעל כל רכיב אחר */
}

.loading-circle {
    border: 1vw solid #f3f3f3;
    border-top: 1vw solid #3498db;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
