.board-graveyard-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.game-left-section {
    width: 30%; /* 20% משמאל */
    display: flex;
    justify-content: center; /* ממקם את ה-graveyard במרכז החלק הזה */
}

.game-center-section {
    width: 40%; /* 60% באמצע */
    display: flex;
    justify-content: center; /* ממקם את הלוח במרכז */
}

.game-right-section {
    width: 30%; /* 20% מימין */
}

.player-names {
    text-align: center;
    font-size: 1.5vw;
    margin: 0.5vw 0;
}

.opponent-name {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-top: 2vh;
}

.your-name {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 4vh;
}


@media (max-width: 768px) {
    .board-graveyard-container {
        display: flex;
        flex-direction: column-reverse; /* משנה את הסדר כך שהפריטים יהיו מלמטה למעלה */
        justify-content: space-between;
        width: 100%;
    }
}
