.board {
    display: grid;
    grid-template-columns: repeat(10, 4vw);
    grid-template-rows: repeat(10, 4vw);
    gap: 0px;
    width: 40vw;
    height: 40vw;
}

@media (max-width: 768px) {
    .board {
        grid-template-columns: repeat(10, 30px); /* קטן יותר */
        grid-template-rows: repeat(10, 30px);    /* קטן יותר */
        width: 300px;  /* קטן יותר */
        height: 300px; /* קטן יותר */
    }
}
