/* Cell.css */
.cell {
    background-color: #e7d211; /* צהוב בהיר, צבע רגיל למשבצת */
    width: 4vw;
    height: 4vw;
    border: 0.1vw solid #000000; /* גבול שחור לעומת צבע הרקע */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.cell.forbidden {
    background-color: #1976D2; /* כחול כהה למשבצת אסורה */
    cursor: not-allowed;
}

.cell.hover-marked {
    background-color: #FFEB3B !important; /* צהוב קרמי רך למשבצת כשהרפרוף עליה */
}

.cell.marked {
    background-color: #F57C00 !important; /* צהוב כהה למשבצת מסומנת */
}

.possible-move {
    background-color: rgba(0, 200, 0, 0.4); /* ירוק בהיר ועמום למהלך אפשרי */
}

@media (max-width: 768px) {
    .cell {
        width: 30px;
        height: 30px;
        border: 1px solid #000000; /* גבול יותר דק במסכים קטנים */
    }
}
