.board-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 0px;
    width: 500px;
    height: 500px;
}

@media (max-width: 768px) {
    .board {
        grid-template-columns: repeat(10, 30px); /* קטן יותר */
        grid-template-rows: repeat(10, 30px);    /* קטן יותר */
        width: 300px;  /* קטן יותר */
        height: 300px; /* קטן יותר */
    }
}
