.game-headers {
    display: flex;
    width: 100%;
}

.headers-left-section {
    flex: 0 0 20%;
}

.headers-center-section {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.headers-right-section {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* תוודא שכל הטקסט במרכז */
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center; /* מרכז את האווטר והפרטים */
}

.user-avatar {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0vw;
    margin-top: 1vw;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vw;
}

.user-name {
    margin: 0;
    font-size: 1.5vw;
}

.user-rating {
    margin: 0;
    font-size: 1vw;
    color: gray;
}
