.SetupCell {
    background-color: #e7d211; /* צהוב בהיר, צבע רגיל למשבצת */
    width: 4vw;
    height: 4vw;
    border: 0.1vw solid #000000; /* גבול שחור לעומת צבע הרקע */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.SetupCell.hoverable:hover {
    background-color: lightblue;
    /* צבע רקע בעת ריחוף */
    cursor: pointer;
}

.SetupCell.selected {
    background-color: rgba(0, 0, 255, 0.6);
    /* רקע כחול כהה כאשר התא נבחר */
}

.SetupCell.forbidden {
    background-color: #1976D2; /* כחול כהה למשבצת אסורה */
    cursor: not-allowed;
}

/* אם התא גם נבחר וגם במצב hover, ישמור על צבע הבחירה */
.SetupCell.selected.hoverable:hover {
    background-color: rgba(0, 0, 255, 0.6);
    /* רקע כחול כהה כאשר התא נבחר */
}

@media (max-width: 768px) {
    .cell {
        width: 30px;
        height: 30px;
        border: 0.9px solid #000000;
    }
}